<a href="https://colab.research.google.com/github/EddyGiusepe/Repasso_Python/blob/main/Pandas_Library_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <h2 align="center">Usando a biblioteca Pandas com Python</h2>


Data scientist.: Dr.Eddy Giusepe Chirinos Isidro

Python tem a biblioteca ``Pandas`` para poder trabalhar com Dados tabulares.

Depois de estudar este tutorial, você haverá aprendido:

* o que a biblioteca de ``Pandas`` oferece
* o que é um ``DataFrame`` e uma série em pandas
* como manipular DataFrame e Séries além das operações triviais de array.


Este tutorial, está baseado no tutorial de [Machine Learning Mastery  - Jason Brownlee PhD](https://machinelearningmastery.com/massaging-data-using-pandas/?utm_source=drip&utm_medium=email&utm_campaign=Massaging+data+using+pandas&utm_content=Massaging+data+using+pandas) e  está dividido em cinco partes:

* DataFrame e Série
* Funções essenciais no DataFrame
* Manipulando DataFrames e Séries
* Agregação em DataFrames
* Manipulando dados de série temporal em pandas

# DataFrame e Série

Vamos começar com um conjunto de dados de exemplo. Vamos importar ``Pandas`` e ler os [Dados de emissão de poluentes atmosféricos dos EUA](https://www.epa.gov/air-emissions-inventories/air-pollutant-emissions-trends-data) em um ``DataFrame``:

In [1]:
# Importamos as bibliotecas mais comuns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Criamos o DataFrame
 
URL = "https://www.epa.gov/sites/default/files/2021-03/state_tier1_caps.xlsx"
 
df = pd.read_excel(URL, sheet_name="State_Trends", header=1)
df.sample(5)

,State FIPS,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
1596,19,IA,7,OTHER INDUSTRIAL PROCESSES,VOC,3.69660,3.79537,3.99674,4.00337,4.020420,...,10.204585,10.433415,10.662244,10.268509,9.874773,9.636749,11.025823,11.085969,11.085969,11.085969
3841,40,OK,15,WILDFIRES,SO2,NaN,NaN,NaN,NaN,NaN,...,2.470226,2.470226,1.493025,1.493025,1.493025,4.161071,4.431570,0.369376,0.369376,0.369376
2258,25,MA,12,OFF-HIGHWAY,PM25-PRI,5.95346,6.18798,6.13528,6.06643,6.012210,...,2.779399,2.631991,2.484584,2.284231,1.982470,1.859474,1.763213,1.695518,1.635740,1.575962
3400,36,NY,10,WASTE DISPOSAL & RECYCLING,SO2,4.18432,3.04131,3.29592,3.36968,2.382834,...,1.156196,1.350937,1.545678,1.407665,1.269653,1.132875,1.130926,1.338910,1.338910,1.338910
3920,41,OR,11,HIGHWAY VEHICLES,CO,1406.34552,963.19124,961.37641,962.69692,1015.657190,...,414.964951,401.952848,388.940744,369.522964,296.375016,301.253382,247.152297,226.603952,212.328672,198.053392

In [3]:
# Shape

df.shape

(5319, 32)

O objeto ``pandas`` criado acima é um DataFrame, apresentado como uma tabela. Semelhante ao ``NumPy``, os dados no Pandas são organizados em matrizes. Mas os Pandas atribuem um tipo de dados a colunas em vez de uma matriz inteira. Isso permite que dados de diferentes tipos sejam incluídos na mesma estrutura de dados. 

Podemos verificar o tipo de dados chamando a o método (ou função) ``.info()`` do DataFrame:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5319 entries, 0 to 5318
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State FIPS          5319 non-null   int64
 1   State               5319 non-null   object
 2   Tier 1 Code         5319 non-null   int64
 3   Tier 1 Description  5319 non-null   object
 4   Pollutant           5319 non-null   object
 5   emissions90         3926 non-null   float64
 6   emissions96         4163 non-null   float64
 7   emissions97         4163 non-null   float64
 8   emissions98         4164 non-null   float64
 9   emissions99         4281 non-null   float64
 10  emissions00         4280 non-null   float64
 11  emissions01         4277 non-null   float64
 12  emissions02         4720 non-null   float64
 13  emissions03         4939 non-null   float64
 14  emissions04         4939 non-null   float64
 15  emissions05         4561 non-null   float64
 16  emissions06         4951 non-null   float64
 17  emissions07         4951 non-null   float64
 18  emissions08         4942 non-null   float64
 19  emissions09         5281 non-null   float64
 20  emissions10         5281 non-null   float64
 21  emissions11         5318 non-null   float64
 22  emissions12         5318 non-null   float64
 23  emissions13         5318 non-null   float64
 24  emissions14         5077 non-null   float64
 25  emissions15         5299 non-null   float64
 26  emissions16         5299 non-null   float64
 27  emissions17         5107 non-null   float64
 28  emissions18         5052 non-null   float64
 29  emissions19         5052 non-null   float64
 30  emissions20         5052 non-null   float64
 31  emissions21         5052 non-null   float64
dtypes: float64(27), int64(2), object(3)
memory usage: 1.3+ MB

In [5]:
# Também podemos obter o tipo como uma série de pandas:

df.dtypes

State FIPS              int64
State                  object
Tier 1 Code             int64
Tier 1 Description     object
Pollutant              object
emissions90           float64
emissions96           float64
emissions97           float64
emissions98           float64
emissions99           float64
emissions00           float64
emissions01           float64
emissions02           float64
emissions03           float64
emissions04           float64
emissions05           float64
emissions06           float64
emissions07           float64
emissions08           float64
emissions09           float64
emissions10           float64
emissions11           float64
emissions12           float64
emissions13           float64
emissions14           float64
emissions15           float64
emissions16           float64
emissions17           float64
emissions18           float64
emissions19           float64
emissions20           float64
emissions21           float64
dtype: object

No ``Pandas``, um ``DataFrame`` é uma tabela, enquanto uma **série é uma coluna da tabela**. Essa distinção é importante porque os dados por trás de um ``DataFrame são uma matriz 2D``, enquanto uma ``série é uma matriz 1D``.

Semelhante à indexação sofisticada no ``NumPy``, podemos extrair colunas de um DataFrame para criar outro:

In [6]:
cols = ["State", "Pollutant", "emissions19", "emissions20", "emissions21"]

# DataFrame dos três últimos anos
last3years = df[cols] 
last3years.head(7)

  State Pollutant  emissions19  emissions20  emissions21
0    AL        CO     8.243679     8.243679     8.243679
1    AL       NH3     0.417551     0.417551     0.417551
2    AL       NOX    19.592480    13.752790    11.162100
3    AL  PM10-PRI     2.868642     2.868642     2.868642
4    AL  PM25-PRI     2.659792     2.659792     2.659792
5    AL       SO2     6.416268     3.277997     4.223016
6    AL       VOC     1.183584     1.183584     1.183584

Ou, se passarmos um nome de coluna como uma string em vez de uma lista de nomes de coluna, extraímos uma coluna de um ``DataFrame como uma série``:

In [7]:
data2021 = df['emissions21']
data2021.head(6)

0     8.243679
1     0.417551
2    11.162100
3     2.868642
4     2.659792
5     4.223016
Name: emissions21, dtype: float64

# Funções essenciais no DataFrame

``Pandas`` é rico em recursos. Muitas operações essenciais em uma tabela ou coluna são fornecidas como funções definidas no **DataFrame** ou **Séries**. Por exemplo, podemos ver uma lista de poluentes cobertos na tabela acima usando:

In [8]:
print(df['Pollutant'].unique())

['CO' 'NH3' 'NOX' 'PM10-PRI' 'PM25-PRI' 'SO2' 'VOC']

E podemos encontrar a média (``.mean()``), desvio padrão (``.std()``), mínimo (``.min()``) e máximo (``.max()``) de uma série de forma semelhante:

In [9]:
# Por exemplo: a média do ano 2021

df['emissions21'].mean()

19.26453203565005

Mas, na verdade, é mais provável que usemos a função ``.describe()`` para explorar um novo DataFrame. Como o DataFrame neste exemplo tem muitas colunas, é melhor transpor o DataFrame resultante de ``.describe()``:

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
State FIPS,5319.0,29.039481,15.667352,1.00000,16.000000,29.000000,42.000000,56.000000
Tier 1 Code,5319.0,8.213198,4.610970,1.00000,4.000000,8.000000,12.000000,16.000000
emissions90,3926.0,67.885173,373.308888,0.00000,0.474330,4.042665,20.610050,11893.764890
emissions96,4163.0,54.576353,264.951584,0.00001,0.338420,3.351860,16.804540,6890.969060
emissions97,4163.0,51.635867,249.057529,0.00001,0.335830,3.339820,16.679675,6547.791030
emissions98,4164.0,50.801607,240.583301,0.00001,0.344537,3.333940,16.579365,6187.792400
emissions99,4281.0,48.574331,224.351639,0.00000,0.298280,3.198574,16.993275,5701.037970
emissions00,4280.0,48.331283,228.045136,0.00000,0.301689,3.191610,16.240101,5828.319510
emissions01,4277.0,45.379913,208.045773,0.00000,0.306105,3.194570,16.091365,4600.093520
emissions02,4720.0,40.620586,211.845254,0.00000,0.132365,1.898117,12.613465,8402.863427
emissions03,4939.0,38.580118,202.907372,0.00000,0.092004,1.646157,11.613535,8402.863427
emissions04,4939.0,38.266614,199.499755,0.00000,0.092897,1.686734,11.840717,8402.863427
emissions05,4561.0,37.538785,156.186952,0.00000,0.213054,2.298465,13.247740,2903.494222
emissions06,4951.0,31.796042,137.208089,0.00000,0.092216,1.557814,10.265550,2828.242223
emissions07,4951.0,29.166167,127.385372,0.00000,0.084963,1.409892,9.308824,2791.535544
emissions08,4942.0,31.514819,155.322728,0.00000,0.158240,1.539944,10.005629,6461.172958
emissions09,5281.0,27.722597,140.524415,0.00000,0.095350,1.339171,9.098742,6461.172958
emissions10,5281.0,27.461119,140.367131,0.00000,0.094861,1.316531,8.952050,6461.172958
emissions11,5318.0,26.935748,113.778154,0.00000,0.094116,1.266789,9.151551,2333.537512
emissions12,5318.0,26.073642,108.279353,0.00000,0.110958,1.347089,9.311485,2200.097251
emissions13,5318.0,25.211536,103.732749,0.00000,0.111590,1.338692,9.318675,2200.097251
emissions14,5077.0,24.859033,106.038091,0.00000,0.159116,1.478374,9.690808,3239.366102
emissions15,5299.0,22.909261,101.590544,0.00000,0.109240,1.223824,8.506026,3239.366102
emissions16,5299.0,21.357112,96.439660,0.00000,0.102573,1.165098,8.199918,3239.366102
emissions17,5107.0,24.009949,128.612427,0.00000,0.133070,1.242553,8.512386,4514.752701
emissions18,5052.0,23.068262,114.948923,0.00000,0.150435,1.373293,9.013688,4562.151689
emissions19,5052.0,19.846244,98.392126,0.00000,0.125881,1.180123,7.906181,4562.151689
emissions20,5052.0,19.507828,97.515187,0.00000,0.125066,1.165284,7.737705,4562.151689
emissions21,5052.0,19.264532,96.702411,0.00000,0.125066,1.151917,7.754584,4562.151689

De fato, o DataFrame produzido por ``.describe()`` pode nos ajudar a ter uma noção dos dados. A partir daí, podemos dizer quantos dados faltantes existem (observando a contagem), como os dados são distribuídos, se há discrepâncias e assim por diante.

# Manipulando DataFrame e Séries

Semelhante à indexação booleana no NumPy, podemos extrair um subconjunto de linhas de um DataFrame. Por exemplo, é assim que podemos selecionar os dados apenas para **emissões de monóxido de carbono**:

In [11]:
df_CO = df[df["Pollutant"] == "CO"]
df_CO.head(7)

,State FIPS,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
0,1,AL,1,FUEL COMB. ELEC. UTIL.,CO,6.86859,8.06884,8.04705,8.12158,11.515260,...,9.642311,9.326977,9.011643,9.125182,9.238721,9.323161,10.050146,8.243679,8.243679,8.243679
7,1,AL,2,FUEL COMB. INDUSTRIAL,CO,25.73799,49.77487,48.15407,48.41578,43.880430,...,66.747109,61.629518,56.511926,43.656232,30.800538,17.973944,19.148024,17.291741,17.291741,17.291741
14,1,AL,3,FUEL COMB. OTHER,CO,89.93378,34.23424,34.29082,34.15163,65.515923,...,14.997904,17.892071,20.786239,23.581487,26.376736,29.171984,29.207209,29.201838,29.201838,29.201838
21,1,AL,4,CHEMICAL & ALLIED PRODUCT MFG,CO,54.70092,44.23310,45.59779,46.96713,7.853820,...,3.133778,3.144600,3.155423,3.214001,3.272579,3.331158,2.774257,2.626484,2.626484,2.626484
28,1,AL,5,METALS PROCESSING,CO,6.61641,36.12170,37.64911,36.86870,31.767940,...,11.173101,11.354717,11.536333,11.766012,11.995691,12.225369,12.534726,12.167189,12.167189,12.167189
35,1,AL,6,PETROLEUM & RELATED INDUSTRIES,CO,16.21475,1.15640,1.15842,1.15944,10.469120,...,14.444104,14.005973,13.567842,11.029530,8.491219,5.952907,5.804215,6.254160,6.254160,6.254160
42,1,AL,7,OTHER INDUSTRIAL PROCESSES,CO,68.68642,64.08936,66.39766,67.06835,61.059700,...,24.596882,29.485416,34.373950,33.146481,31.919012,30.691313,31.686766,31.040208,31.040208,31.040208

Como você pode esperar, o operador ``==`` compara cada elemento de uma série  ``df["Pollutant"]``, resultando em uma **série de valores booleanos**. Se os comprimentos corresponderem, o DataFrame entende que é para selecionar as linhas com base no valor booleano. Na verdade, podemos combinar booleanos usando operadores bit a bit (bitwise). Por exemplo, é assim que selecionamos as linhas de <font color='yellow'>emissões de monóxido de carbono devido aos veículos rodoviários</font>:

In [12]:
# Aqui: HIGHWAY VEHICLES --> VEÍCULOS RODOVIÁRIOS

df_CO_HW = df[ (df['Pollutant']=='CO') & (df['Tier 1 Description']=='HIGHWAY VEHICLES') ]
df_CO_HW.head(3)

,State FIPS,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
70,1,AL,11,HIGHWAY VEHICLES,CO,2340.75406,1674.01395,1602.25032,1534.27815,1412.34247,...,706.703031,711.628370,716.553710,682.596952,588.545740,556.784903,532.140445,518.259811,492.182583,466.105354
171,2,AK,11,HIGHWAY VEHICLES,CO,262.38870,173.25628,173.86574,175.12039,169.92004,...,85.189732,78.699239,72.208745,70.614685,60.100755,67.426567,70.674008,70.674008,63.883471,57.092934
276,4,AZ,11,HIGHWAY VEHICLES,CO,1616.75178,1084.92615,1065.99933,1049.76456,1017.64515,...,560.612368,557.832176,555.051985,549.795535,468.667272,487.903594,433.685363,413.347655,398.958109,384.568563

Se você preferir selecionar linhas como uma lista do Python, poderá fazê-lo por meio da interface ``iloc``. É assim que podemos selecionar as linhas de $5$ a $10$ (indexadas a zero) ou as colunas de $1$ a $6$ e as linhas de $5$ a $10$:

In [21]:
df_r5 = df.iloc[5:11] # pegando apenas as linhas

df_c1_r5 = df.iloc[5:11, 1:7] # linhas 5:11  e  colunas 1:7

In [17]:
df_r5.head(10)

,State FIPS,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
5,1,AL,1,FUEL COMB. ELEC. UTIL.,SO2,528.64015,584.96044,567.98876,575.47384,542.657340,...,159.522550,139.722498,119.922446,83.443274,46.964102,10.482160,11.987609,6.416268,3.277997,4.223016
6,1,AL,1,FUEL COMB. ELEC. UTIL.,VOC,0.79719,0.99511,0.99250,1.00374,2.234870,...,1.217204,1.282610,1.348015,1.303014,1.258013,1.208703,1.316399,1.183584,1.183584,1.183584
7,1,AL,2,FUEL COMB. INDUSTRIAL,CO,25.73799,49.77487,48.15407,48.41578,43.880430,...,66.747109,61.629518,56.511926,43.656232,30.800538,17.973944,19.148024,17.291741,17.291741,17.291741
8,1,AL,2,FUEL COMB. INDUSTRIAL,NH3,0.38396,1.31672,1.28847,1.31280,0.453654,...,0.755929,0.699112,0.642294,0.439639,0.236984,0.034329,0.056726,0.058051,0.058051,0.058051
9,1,AL,2,FUEL COMB. INDUSTRIAL,NOX,75.01940,98.58690,96.90908,96.43691,63.362050,...,36.727965,38.008567,39.289169,32.841984,26.394798,19.971913,22.071043,20.168023,20.168023,20.168023
10,1,AL,2,FUEL COMB. INDUSTRIAL,PM10-PRI,12.63573,10.87613,10.53728,10.56054,8.582618,...,47.242034,48.209684,49.177334,33.767944,18.358553,2.971842,3.363220,2.806757,2.806757,2.806757

In [20]:
df_c1_r5.head(10)

,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96
5,AL,1,FUEL COMB. ELEC. UTIL.,SO2,528.64015,584.96044
6,AL,1,FUEL COMB. ELEC. UTIL.,VOC,0.79719,0.99511
7,AL,2,FUEL COMB. INDUSTRIAL,CO,25.73799,49.77487
8,AL,2,FUEL COMB. INDUSTRIAL,NH3,0.38396,1.31672
9,AL,2,FUEL COMB. INDUSTRIAL,NOX,75.01940,98.58690
10,AL,2,FUEL COMB. INDUSTRIAL,PM10-PRI,12.63573,10.87613

Se você estiver familiarizado com o ``Excel``, provavelmente conhece um de seus recursos interessantes chamado “``tabela dinâmica``”. ``Pandas`` permite que você faça o mesmo. Vamos considerar a poluição de monóxido de carbono de todos os estados em 2021 a partir deste conjunto de dados:

In [22]:
df_all_co = df[df["Pollutant"] == "CO"][["State", "Tier 1 Description", "emissions21"]]

df_all_co.head()

   State             Tier 1 Description  emissions21
0     AL         FUEL COMB. ELEC. UTIL.     8.243679
7     AL          FUEL COMB. INDUSTRIAL    17.291741
14    AL               FUEL COMB. OTHER    29.201838
21    AL  CHEMICAL & ALLIED PRODUCT MFG     2.626484
28    AL              METALS PROCESSING    12.167189

In [23]:
df_all_co.shape

(760, 3)

Através da tabela dinâmica, podemos fazer as diferentes formas de emissão de monóxido de carbono como colunas e diferentes estados como linhas:

In [24]:
df_pivot = df_all_co.pivot_table(index = "State", columns = "Tier 1 Description", values = "emissions21")


df_pivot.head()

Tier 1 Description,CHEMICAL & ALLIED PRODUCT MFG,FUEL COMB. ELEC. UTIL.,FUEL COMB. INDUSTRIAL,FUEL COMB. OTHER,HIGHWAY VEHICLES,METALS PROCESSING,MISCELLANEOUS,OFF-HIGHWAY,OTHER INDUSTRIAL PROCESSES,PETROLEUM & RELATED INDUSTRIES,PRESCRIBED FIRES,SOLVENT UTILIZATION,STORAGE & TRANSPORT,WASTE DISPOSAL & RECYCLING,WILDFIRES
State,,,,,,,,,,,,,,,
AK,NaN,4.679098,7.780446,225.802864,57.092934,0.050133,1.745362,53.500832,0.492499,4.531370,286.474361,NaN,0.056500,0.146018,4562.151689
AL,2.626484,8.243679,17.291741,29.201838,466.105354,12.167189,10.657049,191.953551,31.040208,6.254160,437.438647,0.168992,0.007686,47.241253,38.780562
AR,0.307811,5.027354,23.058056,46.680001,203.971567,6.066433,39.449980,129.115676,11.111067,6.389661,531.262844,0.008284,0.004482,26.234267,3.125529
AZ,0.000000,4.483514,1.763194,15.810092,384.568563,0.752409,3.229801,207.813693,11.153465,0.016421,66.316136,0.021141,0.011701,6.438484,248.713896
CA,0.876666,6.819343,31.690680,149.373372,546.577559,0.209140,38.919176,684.594388,26.858656,2.357080,97.319417,0.432730,0.492900,27.438453,465.881783

In [25]:
df_pivot.shape

(51, 15)

A função ``pivot_table()`` acima não exige que os valores sejam exclusivos para o índice e as colunas. Em outras palavras, se houver duas linhas “``wildfire``” em um estado no DataFrame original, essa função agregará as duas (o padrão é obter a média). Para reverter a operação de pivô (pivot), temos a ``melt()`` função:

In [26]:
df_melt = df_pivot.melt(value_name = "emissions 2021", var_name = "Tier 1 Description", ignore_index = False)


df_melt.head()

                  Tier 1 Description  emissions 2021
State
AK     CHEMICAL & ALLIED PRODUCT MFG             NaN
AL     CHEMICAL & ALLIED PRODUCT MFG        2.626484
AR     CHEMICAL & ALLIED PRODUCT MFG        0.307811
AZ     CHEMICAL & ALLIED PRODUCT MFG        0.000000
CA     CHEMICAL & ALLIED PRODUCT MFG        0.876666

Há muito mais que podemos fazer com um DataFrame. <font color="orange">Por exemplo</font>, podemos classificar as linhas (usando a função ``sort_values()``), renomear colunas (usando a função ``rename()``), remover linhas redundantes (``drop_duplicates()``)


Em um projeto de aprendizado de máquina, geralmente precisamos fazer algumas limpezas antes de podermos usar os dados. É útil usar pandas para essa finalidade. O DataFrame df_pivot que acabamos de criar tem alguns valores marcados como ``NaN`` sem dados disponíveis. **Podemos substituir todos aqueles com zero por qualquer um dos seguintes**:

In [ ]:
df_pivot.fillna(0)

df_pivot.where(df_pivot.notna(), 0)

df_pivot.mask(df_pivot.isna(), 0)