<a href="https://colab.research.google.com/github/EddyGiusepe/Repasso_Python/blob/main/Pandas_Library_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <h2 align="center">Usando a biblioteca Pandas com Python</h2>


Data scientist.: Dr.Eddy Giusepe Chirinos Isidro

Python tem a biblioteca ``Pandas`` para poder trabalhar com Dados tabulares.

Depois de estudar este tutorial, você haverá aprendido:

* o que a biblioteca de ``Pandas`` oferece
* o que é um ``DataFrame`` e uma série em pandas
* como manipular DataFrame e Séries além das operações triviais de array.


Este tutorial, está baseado no tutorial de [Machine Learning Mastery  - Jason Brownlee PhD](https://machinelearningmastery.com/massaging-data-using-pandas/?utm_source=drip&utm_medium=email&utm_campaign=Massaging+data+using+pandas&utm_content=Massaging+data+using+pandas) e  está dividido em cinco partes:

* DataFrame e Série
* Funções essenciais no DataFrame
* Manipulando DataFrames e Séries
* Agregação em DataFrames
* Manipulando dados de série temporal em pandas

# DataFrame e Série

Vamos começar com um conjunto de dados de exemplo. Vamos importar ``Pandas`` e ler os [Dados de emissão de poluentes atmosféricos dos EUA](https://www.epa.gov/air-emissions-inventories/air-pollutant-emissions-trends-data) em um ``DataFrame``:

In [1]:
# Importamos as bibliotecas mais comuns

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Criamos o DataFrame
 
URL = "https://www.epa.gov/sites/default/files/2021-03/state_tier1_caps.xlsx"
 
df = pd.read_excel(URL, sheet_name="State_Trends", header=1)
df.sample(5)

,State FIPS,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
672,9,CT,7,OTHER INDUSTRIAL PROCESSES,PM25-PRI,1.51807,0.44113,0.46100,0.52991,0.644207,...,1.397673,1.471266,1.544858,1.657963,1.771067,1.884171,1.873920,1.880447,1.880447,1.880447
1643,19,IA,15,WILDFIRES,PM25-PRI,NaN,NaN,NaN,NaN,NaN,...,0.398668,0.398668,0.987371,0.987371,0.987371,1.468453,1.671404,0.009357,0.009357,0.009357
872,11,DC,8,SOLVENT UTILIZATION,NH3,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
3498,37,NC,9,STORAGE & TRANSPORT,SO2,NaN,0.00147,0.00142,0.00142,0.003091,...,0.009434,0.011445,0.013456,0.010240,0.007025,0.003810,0.004750,0.001810,0.001810,0.001810
1358,17,IL,3,FUEL COMB. OTHER,VOC,14.12928,33.34094,33.00421,32.53227,29.355479,...,13.570192,13.770456,13.970721,12.391573,10.812425,9.233313,9.495635,9.515142,9.515142,9.515142

In [3]:
# Shape

df.shape

(5319, 32)

O objeto ``pandas`` criado acima é um DataFrame, apresentado como uma tabela. Semelhante ao ``NumPy``, os dados no Pandas são organizados em matrizes. Mas os Pandas atribuem um tipo de dados a colunas em vez de uma matriz inteira. Isso permite que dados de diferentes tipos sejam incluídos na mesma estrutura de dados. 

Podemos verificar o tipo de dados chamando a o método (ou função) ``.info()`` do DataFrame:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5319 entries, 0 to 5318
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State FIPS          5319 non-null   int64
 1   State               5319 non-null   object
 2   Tier 1 Code         5319 non-null   int64
 3   Tier 1 Description  5319 non-null   object
 4   Pollutant           5319 non-null   object
 5   emissions90         3926 non-null   float64
 6   emissions96         4163 non-null   float64
 7   emissions97         4163 non-null   float64
 8   emissions98         4164 non-null   float64
 9   emissions99         4281 non-null   float64
 10  emissions00         4280 non-null   float64
 11  emissions01         4277 non-null   float64
 12  emissions02         4720 non-null   float64
 13  emissions03         4939 non-null   float64
 14  emissions04         4939 non-null   float64
 15  emissions05         4561 non-null   float64
 16  emissions06         4951 non-null   float64
 17  emissions07         4951 non-null   float64
 18  emissions08         4942 non-null   float64
 19  emissions09         5281 non-null   float64
 20  emissions10         5281 non-null   float64
 21  emissions11         5318 non-null   float64
 22  emissions12         5318 non-null   float64
 23  emissions13         5318 non-null   float64
 24  emissions14         5077 non-null   float64
 25  emissions15         5299 non-null   float64
 26  emissions16         5299 non-null   float64
 27  emissions17         5107 non-null   float64
 28  emissions18         5052 non-null   float64
 29  emissions19         5052 non-null   float64
 30  emissions20         5052 non-null   float64
 31  emissions21         5052 non-null   float64
dtypes: float64(27), int64(2), object(3)
memory usage: 1.3+ MB

In [5]:
# Também podemos obter o tipo como uma série de pandas:

df.dtypes

State FIPS              int64
State                  object
Tier 1 Code             int64
Tier 1 Description     object
Pollutant              object
emissions90           float64
emissions96           float64
emissions97           float64
emissions98           float64
emissions99           float64
emissions00           float64
emissions01           float64
emissions02           float64
emissions03           float64
emissions04           float64
emissions05           float64
emissions06           float64
emissions07           float64
emissions08           float64
emissions09           float64
emissions10           float64
emissions11           float64
emissions12           float64
emissions13           float64
emissions14           float64
emissions15           float64
emissions16           float64
emissions17           float64
emissions18           float64
emissions19           float64
emissions20           float64
emissions21           float64
dtype: object

No ``Pandas``, um ``DataFrame`` é uma tabela, enquanto uma **série é uma coluna da tabela**. Essa distinção é importante porque os dados por trás de um ``DataFrame são uma matriz 2D``, enquanto uma ``série é uma matriz 1D``.

Semelhante à indexação sofisticada no ``NumPy``, podemos extrair colunas de um DataFrame para criar outro:

In [6]:
cols = ["State", "Pollutant", "emissions19", "emissions20", "emissions21"]

# DataFrame dos três últimos anos
last3years = df[cols] 
last3years.head(7)

  State Pollutant  emissions19  emissions20  emissions21
0    AL        CO     8.243679     8.243679     8.243679
1    AL       NH3     0.417551     0.417551     0.417551
2    AL       NOX    19.592480    13.752790    11.162100
3    AL  PM10-PRI     2.868642     2.868642     2.868642
4    AL  PM25-PRI     2.659792     2.659792     2.659792
5    AL       SO2     6.416268     3.277997     4.223016
6    AL       VOC     1.183584     1.183584     1.183584

Ou, se passarmos um nome de coluna como uma string em vez de uma lista de nomes de coluna, extraímos uma coluna de um ``DataFrame como uma série``:

In [7]:
data2021 = df['emissions21']
data2021.head(6)

0     8.243679
1     0.417551
2    11.162100
3     2.868642
4     2.659792
5     4.223016
Name: emissions21, dtype: float64

# Funções essenciais no DataFrame

``Pandas`` é rico em recursos. Muitas operações essenciais em uma tabela ou coluna são fornecidas como funções definidas no **DataFrame** ou **Séries**. Por exemplo, podemos ver uma lista de poluentes cobertos na tabela acima usando:

In [8]:
print(df['Pollutant'].unique())

['CO' 'NH3' 'NOX' 'PM10-PRI' 'PM25-PRI' 'SO2' 'VOC']

E podemos encontrar a média (``.mean()``), desvio padrão (``.std()``), mínimo (``.min()``) e máximo (``.max()``) de uma série de forma semelhante:

In [9]:
# Por exemplo: a média do ano 2021

df['emissions21'].mean()

19.26453203565005

Mas, na verdade, é mais provável que usemos a função ``.describe()`` para explorar um novo DataFrame. Como o DataFrame neste exemplo tem muitas colunas, é melhor transpor o DataFrame resultante de ``.describe()``:

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
State FIPS,5319.0,29.039481,15.667352,1.00000,16.000000,29.000000,42.000000,56.000000
Tier 1 Code,5319.0,8.213198,4.610970,1.00000,4.000000,8.000000,12.000000,16.000000
emissions90,3926.0,67.885173,373.308888,0.00000,0.474330,4.042665,20.610050,11893.764890
emissions96,4163.0,54.576353,264.951584,0.00001,0.338420,3.351860,16.804540,6890.969060
emissions97,4163.0,51.635867,249.057529,0.00001,0.335830,3.339820,16.679675,6547.791030
emissions98,4164.0,50.801607,240.583301,0.00001,0.344537,3.333940,16.579365,6187.792400
emissions99,4281.0,48.574331,224.351639,0.00000,0.298280,3.198574,16.993275,5701.037970
emissions00,4280.0,48.331283,228.045136,0.00000,0.301689,3.191610,16.240101,5828.319510
emissions01,4277.0,45.379913,208.045773,0.00000,0.306105,3.194570,16.091365,4600.093520
emissions02,4720.0,40.620586,211.845254,0.00000,0.132365,1.898117,12.613465,8402.863427
emissions03,4939.0,38.580118,202.907372,0.00000,0.092004,1.646157,11.613535,8402.863427
emissions04,4939.0,38.266614,199.499755,0.00000,0.092897,1.686734,11.840717,8402.863427
emissions05,4561.0,37.538785,156.186952,0.00000,0.213054,2.298465,13.247740,2903.494222
emissions06,4951.0,31.796042,137.208089,0.00000,0.092216,1.557814,10.265550,2828.242223
emissions07,4951.0,29.166167,127.385372,0.00000,0.084963,1.409892,9.308824,2791.535544
emissions08,4942.0,31.514819,155.322728,0.00000,0.158240,1.539944,10.005629,6461.172958
emissions09,5281.0,27.722597,140.524415,0.00000,0.095350,1.339171,9.098742,6461.172958
emissions10,5281.0,27.461119,140.367131,0.00000,0.094861,1.316531,8.952050,6461.172958
emissions11,5318.0,26.935748,113.778154,0.00000,0.094116,1.266789,9.151551,2333.537512
emissions12,5318.0,26.073642,108.279353,0.00000,0.110958,1.347089,9.311485,2200.097251
emissions13,5318.0,25.211536,103.732749,0.00000,0.111590,1.338692,9.318675,2200.097251
emissions14,5077.0,24.859033,106.038091,0.00000,0.159116,1.478374,9.690808,3239.366102
emissions15,5299.0,22.909261,101.590544,0.00000,0.109240,1.223824,8.506026,3239.366102
emissions16,5299.0,21.357112,96.439660,0.00000,0.102573,1.165098,8.199918,3239.366102
emissions17,5107.0,24.009949,128.612427,0.00000,0.133070,1.242553,8.512386,4514.752701
emissions18,5052.0,23.068262,114.948923,0.00000,0.150435,1.373293,9.013688,4562.151689
emissions19,5052.0,19.846244,98.392126,0.00000,0.125881,1.180123,7.906181,4562.151689
emissions20,5052.0,19.507828,97.515187,0.00000,0.125066,1.165284,7.737705,4562.151689
emissions21,5052.0,19.264532,96.702411,0.00000,0.125066,1.151917,7.754584,4562.151689

De fato, o DataFrame produzido por ``.describe()`` pode nos ajudar a ter uma noção dos dados. A partir daí, podemos dizer quantos dados faltantes existem (observando a contagem), como os dados são distribuídos, se há discrepâncias e assim por diante.

# Manipulando DataFrame e Séries

Semelhante à indexação booleana no NumPy, podemos extrair um subconjunto de linhas de um DataFrame. Por exemplo, é assim que podemos selecionar os dados apenas para **emissões de monóxido de carbono**:

In [11]:
df_CO = df[df["Pollutant"] == "CO"]
df_CO.head(7)

,State FIPS,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
0,1,AL,1,FUEL COMB. ELEC. UTIL.,CO,6.86859,8.06884,8.04705,8.12158,11.515260,...,9.642311,9.326977,9.011643,9.125182,9.238721,9.323161,10.050146,8.243679,8.243679,8.243679
7,1,AL,2,FUEL COMB. INDUSTRIAL,CO,25.73799,49.77487,48.15407,48.41578,43.880430,...,66.747109,61.629518,56.511926,43.656232,30.800538,17.973944,19.148024,17.291741,17.291741,17.291741
14,1,AL,3,FUEL COMB. OTHER,CO,89.93378,34.23424,34.29082,34.15163,65.515923,...,14.997904,17.892071,20.786239,23.581487,26.376736,29.171984,29.207209,29.201838,29.201838,29.201838
21,1,AL,4,CHEMICAL & ALLIED PRODUCT MFG,CO,54.70092,44.23310,45.59779,46.96713,7.853820,...,3.133778,3.144600,3.155423,3.214001,3.272579,3.331158,2.774257,2.626484,2.626484,2.626484
28,1,AL,5,METALS PROCESSING,CO,6.61641,36.12170,37.64911,36.86870,31.767940,...,11.173101,11.354717,11.536333,11.766012,11.995691,12.225369,12.534726,12.167189,12.167189,12.167189
35,1,AL,6,PETROLEUM & RELATED INDUSTRIES,CO,16.21475,1.15640,1.15842,1.15944,10.469120,...,14.444104,14.005973,13.567842,11.029530,8.491219,5.952907,5.804215,6.254160,6.254160,6.254160
42,1,AL,7,OTHER INDUSTRIAL PROCESSES,CO,68.68642,64.08936,66.39766,67.06835,61.059700,...,24.596882,29.485416,34.373950,33.146481,31.919012,30.691313,31.686766,31.040208,31.040208,31.040208

Como você pode esperar, o operador ``==`` compara cada elemento de uma série  ``df["Pollutant"]``, resultando em uma **série de valores booleanos**. Se os comprimentos corresponderem, o DataFrame entende que é para selecionar as linhas com base no valor booleano. Na verdade, podemos combinar booleanos usando operadores bit a bit (bitwise). Por exemplo, é assim que selecionamos as linhas de <font color='yellow'>emissões de monóxido de carbono devido aos veículos rodoviários</font>:

In [12]:
# Aqui: HIGHWAY VEHICLES --> VEÍCULOS RODOVIÁRIOS

df_CO_HW = df[ (df['Pollutant']=='CO') & (df['Tier 1 Description']=='HIGHWAY VEHICLES') ]
df_CO_HW.head(3)

,State FIPS,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
70,1,AL,11,HIGHWAY VEHICLES,CO,2340.75406,1674.01395,1602.25032,1534.27815,1412.34247,...,706.703031,711.628370,716.553710,682.596952,588.545740,556.784903,532.140445,518.259811,492.182583,466.105354
171,2,AK,11,HIGHWAY VEHICLES,CO,262.38870,173.25628,173.86574,175.12039,169.92004,...,85.189732,78.699239,72.208745,70.614685,60.100755,67.426567,70.674008,70.674008,63.883471,57.092934
276,4,AZ,11,HIGHWAY VEHICLES,CO,1616.75178,1084.92615,1065.99933,1049.76456,1017.64515,...,560.612368,557.832176,555.051985,549.795535,468.667272,487.903594,433.685363,413.347655,398.958109,384.568563

Se você preferir selecionar linhas como uma lista do Python, poderá fazê-lo por meio da interface ``iloc``. É assim que podemos selecionar as linhas de $5$ a $10$ (indexadas a zero) ou as colunas de $1$ a $6$ e as linhas de $5$ a $10$:

In [13]:
df_r5 = df.iloc[5:11] # pegando apenas as linhas

df_c1_r5 = df.iloc[5:11, 1:7] # linhas 5:11  e  colunas 1:7

In [14]:
df_r5.head(10)

,State FIPS,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
5,1,AL,1,FUEL COMB. ELEC. UTIL.,SO2,528.64015,584.96044,567.98876,575.47384,542.657340,...,159.522550,139.722498,119.922446,83.443274,46.964102,10.482160,11.987609,6.416268,3.277997,4.223016
6,1,AL,1,FUEL COMB. ELEC. UTIL.,VOC,0.79719,0.99511,0.99250,1.00374,2.234870,...,1.217204,1.282610,1.348015,1.303014,1.258013,1.208703,1.316399,1.183584,1.183584,1.183584
7,1,AL,2,FUEL COMB. INDUSTRIAL,CO,25.73799,49.77487,48.15407,48.41578,43.880430,...,66.747109,61.629518,56.511926,43.656232,30.800538,17.973944,19.148024,17.291741,17.291741,17.291741
8,1,AL,2,FUEL COMB. INDUSTRIAL,NH3,0.38396,1.31672,1.28847,1.31280,0.453654,...,0.755929,0.699112,0.642294,0.439639,0.236984,0.034329,0.056726,0.058051,0.058051,0.058051
9,1,AL,2,FUEL COMB. INDUSTRIAL,NOX,75.01940,98.58690,96.90908,96.43691,63.362050,...,36.727965,38.008567,39.289169,32.841984,26.394798,19.971913,22.071043,20.168023,20.168023,20.168023
10,1,AL,2,FUEL COMB. INDUSTRIAL,PM10-PRI,12.63573,10.87613,10.53728,10.56054,8.582618,...,47.242034,48.209684,49.177334,33.767944,18.358553,2.971842,3.363220,2.806757,2.806757,2.806757

In [15]:
df_c1_r5.head(10)

,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96
5,AL,1,FUEL COMB. ELEC. UTIL.,SO2,528.64015,584.96044
6,AL,1,FUEL COMB. ELEC. UTIL.,VOC,0.79719,0.99511
7,AL,2,FUEL COMB. INDUSTRIAL,CO,25.73799,49.77487
8,AL,2,FUEL COMB. INDUSTRIAL,NH3,0.38396,1.31672
9,AL,2,FUEL COMB. INDUSTRIAL,NOX,75.01940,98.58690
10,AL,2,FUEL COMB. INDUSTRIAL,PM10-PRI,12.63573,10.87613

Se você estiver familiarizado com o ``Excel``, provavelmente conhece um de seus recursos interessantes chamado “``tabela dinâmica``”. ``Pandas`` permite que você faça o mesmo. Vamos considerar a poluição de monóxido de carbono de todos os estados em 2021 a partir deste conjunto de dados:

In [16]:
df_all_co = df[df["Pollutant"] == "CO"][["State", "Tier 1 Description", "emissions21"]]

df_all_co.head()

   State             Tier 1 Description  emissions21
0     AL         FUEL COMB. ELEC. UTIL.     8.243679
7     AL          FUEL COMB. INDUSTRIAL    17.291741
14    AL               FUEL COMB. OTHER    29.201838
21    AL  CHEMICAL & ALLIED PRODUCT MFG     2.626484
28    AL              METALS PROCESSING    12.167189

In [17]:
df_all_co.shape

(760, 3)

Através da tabela dinâmica, podemos fazer as diferentes formas de emissão de monóxido de carbono como colunas e diferentes estados como linhas:

In [18]:
df_pivot = df_all_co.pivot_table(index = "State", columns = "Tier 1 Description", values = "emissions21")


df_pivot.head()

Tier 1 Description,CHEMICAL & ALLIED PRODUCT MFG,FUEL COMB. ELEC. UTIL.,FUEL COMB. INDUSTRIAL,FUEL COMB. OTHER,HIGHWAY VEHICLES,METALS PROCESSING,MISCELLANEOUS,OFF-HIGHWAY,OTHER INDUSTRIAL PROCESSES,PETROLEUM & RELATED INDUSTRIES,PRESCRIBED FIRES,SOLVENT UTILIZATION,STORAGE & TRANSPORT,WASTE DISPOSAL & RECYCLING,WILDFIRES
State,,,,,,,,,,,,,,,
AK,NaN,4.679098,7.780446,225.802864,57.092934,0.050133,1.745362,53.500832,0.492499,4.531370,286.474361,NaN,0.056500,0.146018,4562.151689
AL,2.626484,8.243679,17.291741,29.201838,466.105354,12.167189,10.657049,191.953551,31.040208,6.254160,437.438647,0.168992,0.007686,47.241253,38.780562
AR,0.307811,5.027354,23.058056,46.680001,203.971567,6.066433,39.449980,129.115676,11.111067,6.389661,531.262844,0.008284,0.004482,26.234267,3.125529
AZ,0.000000,4.483514,1.763194,15.810092,384.568563,0.752409,3.229801,207.813693,11.153465,0.016421,66.316136,0.021141,0.011701,6.438484,248.713896
CA,0.876666,6.819343,31.690680,149.373372,546.577559,0.209140,38.919176,684.594388,26.858656,2.357080,97.319417,0.432730,0.492900,27.438453,465.881783

In [19]:
df_pivot.shape

(51, 15)

A função ``pivot_table()`` acima não exige que os valores sejam exclusivos para o índice e as colunas. Em outras palavras, se houver duas linhas “``wildfire``” em um estado no DataFrame original, essa função agregará as duas (o padrão é obter a média). Para reverter a operação de pivô (pivot), temos a ``melt()`` função:

In [20]:
df_melt = df_pivot.melt(value_name = "emissions 2021", var_name = "Tier 1 Description", ignore_index = False)


df_melt.head()

                  Tier 1 Description  emissions 2021
State
AK     CHEMICAL & ALLIED PRODUCT MFG             NaN
AL     CHEMICAL & ALLIED PRODUCT MFG        2.626484
AR     CHEMICAL & ALLIED PRODUCT MFG        0.307811
AZ     CHEMICAL & ALLIED PRODUCT MFG        0.000000
CA     CHEMICAL & ALLIED PRODUCT MFG        0.876666

Há muito mais que podemos fazer com um DataFrame. <font color="orange">Por exemplo</font>, podemos classificar as linhas (usando a função ``sort_values()``), renomear colunas (usando a função ``rename()``), remover linhas redundantes (``drop_duplicates()``)


Em um projeto de aprendizado de máquina, geralmente precisamos fazer algumas limpezas antes de podermos usar os dados. É útil usar pandas para essa finalidade. O DataFrame df_pivot que acabamos de criar tem alguns valores marcados como ``NaN`` sem dados disponíveis. **Podemos substituir todos aqueles com zero por qualquer um dos seguintes**:

In [21]:
df_pivot.fillna(0)

df_pivot.where(df_pivot.notna(), 0)

df_pivot.mask(df_pivot.isna(), 0)

Tier 1 Description,CHEMICAL & ALLIED PRODUCT MFG,FUEL COMB. ELEC. UTIL.,FUEL COMB. INDUSTRIAL,FUEL COMB. OTHER,HIGHWAY VEHICLES,METALS PROCESSING,MISCELLANEOUS,OFF-HIGHWAY,OTHER INDUSTRIAL PROCESSES,PETROLEUM & RELATED INDUSTRIES,PRESCRIBED FIRES,SOLVENT UTILIZATION,STORAGE & TRANSPORT,WASTE DISPOSAL & RECYCLING,WILDFIRES
State,,,,,,,,,,,,,,,
AK,0.000000,4.679098,7.780446,225.802864,57.092934,0.050133,1.745362,53.500832,0.492499,4.531370,286.474361,0.000000,0.056500,0.146018,4562.151689
AL,2.626484,8.243679,17.291741,29.201838,466.105354,12.167189,10.657049,191.953551,31.040208,6.254160,437.438647,0.168992,0.007686,47.241253,38.780562
AR,0.307811,5.027354,23.058056,46.680001,203.971567,6.066433,39.449980,129.115676,11.111067,6.389661,531.262844,0.008284,0.004482,26.234267,3.125529
AZ,0.000000,4.483514,1.763194,15.810092,384.568563,0.752409,3.229801,207.813693,11.153465,0.016421,66.316136,0.021141,0.011701,6.438484,248.713896
CA,0.876666,6.819343,31.690680,149.373372,546.577559,0.209140,38.919176,684.594388,26.858656,2.357080,97.319417,0.432730,0.492900,27.438453,465.881783
CO,0.013220,7.410508,16.428686,38.713344,289.015039,0.786038,4.119938,256.410710,9.976156,38.004429,56.151980,0.025924,1.836220,3.800489,105.111667
CT,0.000000,0.524795,2.450608,29.750289,111.544247,0.000000,0.042294,115.954425,1.665355,0.000000,1.124380,0.000000,0.000000,0.548032,0.000000
DC,0.000000,0.000000,0.012720,0.961035,20.413995,0.000000,0.000294,7.621835,0.288114,0.005749,0.000000,0.000000,0.000000,0.002968,0.000000
DE,0.007891,0.477802,1.152836,6.360569,39.567587,0.000000,1.176028,54.993046,0.420900,0.919129,4.251235,0.000000,0.011732,0.455682,0.000000
FL,0.097017,23.433428,23.129794,68.145129,1128.232692,0.478888,104.483291,984.323902,19.186928,0.942683,1412.506442,0.007007,0.103614,81.018830,54.747268
GA,0.684786,8.080826,14.280708,53.868569,648.025292,0.331833,21.881502,377.970153,20.650256,0.010534,613.763839,0.023516,0.027574,189.088941,19.350466
HI,0.000000,1.480534,0.334582,1.567338,66.576138,0.000000,2.818326,55.297886,0.561492,0.032899,6.622828,0.000541,0.000000,6.628601,20.919415
IA,0.564369,12.197362,12.285565,29.145228,197.681732,1.924466,21.605200,144.522166,4.838715,0.033791,71.375104,0.014691,0.052369,12.965191,0.098219
ID,0.531697,0.240051,7.059251,13.012514,111.295539,0.000000,26.412383,82.916724,7.755837,0.008702,265.092847,0.000000,0.148006,6.287441,260.551997
IL,1.240725,13.672972,30.679828,63.015580,510.984209,15.121210,15.788237,462.754659,9.887896,22.128303,102.010782,0.013515,0.044271,23.787724,0.108379
IN,0.285520,10.263646,47.888407,59.167689,448.204886,177.452115,6.015476,248.134039,8.647622,3.777286,33.819149,0.466687,0.021115,30.335046,0.042515
KS,1.764507,10.661365,13.471917,21.164352,188.301167,0.450518,50.802767,118.115177,4.811562,49.590157,461.799887,0.009789,0.078006,10.336540,13.015589
KY,0.157598,10.088503,9.906762,62.111465,290.090728,48.006390,5.642870,134.826763,5.354511,19.266318,82.949723,0.002794,0.002877,25.923779,9.794821
LA,12.148681,14.124339,64.427344,11.482425,272.475895,0.608223,47.064453,156.081948,9.710530,30.821824,342.674627,0.010450,2.483007,32.365199,28.181167
MA,0.000038,1.126928,5.889776,44.074335,201.764269,0.000885,0.760621,237.431660,3.082738,0.132749,4.005470,0.026991,0.000000,20.230813,0.000183
MD,0.312314,2.119486,3.042098,45.373180,209.521118,0.000384,2.679762,222.062553,5.422394,0.624204,13.819665,0.008429,0.036800,18.958804,1.269995
ME,0.000000,2.278409,15.231371,57.321036,58.721181,0.000000,0.032391,90.402100,3.089512,0.170858,3.938435,0.000000,0.001430,15.710928,0.013405
MI,0.169758,13.362612,26.601335,93.024860,530.065940,21.552851,2.160932,353.941568,10.586854,12.482970,67.182536,0.000000,0.019716,44.585151,1.552625
MN,0.106981,6.877005,16.141919,241.094836,334.639436,1.337208,18.296012,305.614239,6.085174,0.431585,327.868777,0.009444,0.095920,18.738535,4.872567
MO,1.531638,15.628293,4.572263,113.755732,436.576169,28.045594,19.839551,242.976324,19.655915,0.955796,422.089799,0.000000,0.058605,38.287529,49.354802
MS,5.683430,9.365678,31.490222,24.616653,226.925898,2.232720,18.050369,87.402029,5.597183,2.502095,193.449367,0.047150,0.011560,34.611296,11.980084
MT,0.239646,2.312470,6.228669,12.918277,105.545406,0.000082,16.095612,52.563661,3.321461,4.098156,122.193270,0.000000,0.019376,5.591557,63.639069
NC,0.587754,12.126342,13.016129,72.762770,594.370534,2.067680,15.978705,381.997845,12.163407,1.007221,179.255594,0.075526,0.086168,16.760252,3.336248
ND,0.034985,5.686924,14.145077,3.987779,56.699183,0.000000,33.498878,74.074781,4.863326,32.623624,26.194074,0.000000,0.009500,1.874336,1.611314
NE,0.085690,12.182681,7.883224,12.911302,135.516573,0.003541,16.741767,92.984310,6.545782,0.609771,67.550099,0.001510,0.031925,5.411426,0.322788
NH,0.000000,1.891372,1.472090,33.969574,58.040044,0.000000,0.081125,68.430219,0.620018,0.000000,0.701549,0.000000,0.000000,13.015341,0.008141
NJ,0.080199,2.203424,1.757294,54.240444,260.906552,0.697463,1.501416,308.473166,4.440808,0.404403,15.392802,0.017795,0.025066,0.676286,17.011915
NM,0.000000,6.025603,12.925147,27.235088,168.415293,0.000000,1.076317,66.352453,1.112405,54.751213,32.632246,0.000002,0.007120,5.274735,80.263766
NV,0.000000,3.312232,2.674123,14.647375,139.105368,0.243328,0.587727,131.935303,2.822302,0.118508,1.704312,0.011099,0.138142,4.350837,17.088969
NY,0.128797,7.255136,12.003073,88.416265,400.541345,13.112980,0.946060,602.486197,9.738785,0.933905,8.313480,0.005217,0.007103,46.078234,0.000175
OH,44.233978,8.349429,47.924593,96.893341,562.892705,49.178214,1.664789,415.949121,12.164690,2.751967,18.884432,0.083014,0.025362,45.585947,0.986442
OK,1.442616,10.631008,50.544551,27.794450,285.382087,1.351137,33.663222,178.482948,4.442472,44.763426,526.350996,0.000000,0.094044,16.943725,38.797222
OR,0.158320,3.709405,9.542326,63.077603,198.053392,0.836359,17.310480,203.713829,8.156032,0.078676,696.720110,0.001666,0.007800,23.499630,163.963072
PA,0.273742,24.852067,28.708758,112.423239,436.548818,6.774812,1.328221,420.454755,11.551278,56.932203,21.803659,0.044827,0.070707,79.719154,0.006805
RI,0.000000,0.811315,0.394245,7.298618,28.953445,0.000000,0.007240,29.858772,0.512679,0.156012,0.093673,0.000000,0.033318,5.216138,0.000000
SC,1.218940,7.322689,24.211264,19.067792,359.471759,32.260816,9.066709,214.348279,14.293702,0.000000,283.986487,0.009960,0.084323,45.545078,3.696134
SD,0.000000,0.459704,2.808997,7.946983,67.236964,0.014820,3.897571,44.330047,2.079916,0.185026,35.916759,0.007300,0.025741,3.159401,0.613935
TN,14.557758,3.309555,15.050397,37.196107,455.318962,3.602404,6.361857,231.128570,8.577556,1.633015,126.734040,0.052021,0.106486,54.983430,2.372975
TX,7.702839,105.641413,81.638084,33.593820,1260.733388,9.816256,46.257670,691.656214,41.678234,191.356879,790.449347,0.154957,0.472389,93.525331,59.689269
UT,0.123703,10.765954,2.431652,5.988840,163.991879,1.218379,1.480525,99.127759,3.301629,12.332884,57.792369,0.000000,0.563641,0.356565,94.637763
VA,0.065439,5.569961,17.646621,70.888038,446.667505,2.243837,4.256161,314.474413,13.009885,4.970330,110.095027,0.000853,0.051268,46.335258,1.671783
VT,0.000000,1.343603,0.451751,38.944224,24.258516,0.000000,0.033925,33.524583,0.305394,0.000000,2.458492,0.000000,0.000000,3.881132,0.000000
WA,0.116416,4.831139,8.855538,94.161014,352.113014,30.180620,27.123893,277.544828,7.097585,0.123340,282.484318,0.000000,0.000586,2.334996,160.284327
WI,0.023691,7.422521,22.624203,98.347127,309.981089,4.687163,3.363907,254.929211,7.140186,0.061928,58.975099,0.001835,0.094514,35.670128,0.911783
WV,0.206324,7.836174,3.424206,76.559679,110.407667,2.463119,0.109804,55.100967,2.294991,30.517494,69.389620,0.000017,0.002233,16.012414,5.086241
WY,14.296860,14.617882,9.086374,4.758837,59.719298,0.000000,3.828401,30.612400,14.076030,26.366124,28.177445,0.000000,0.038136,1.952702,89.399972

# Agregação em DataFrames

Na verdade, os pandas podem fornecer manipulação de tabela que, de outra forma, só pode ser feita facilmente usando instruções ``SQL`` do banco de dados. Reutilizando o conjunto de dados de exemplo acima, cada poluente na tabela é dividido em diferentes fontes. Se quisermos conhecer as emissões agregadas de poluentes, basta somar todas as fontes. Semelhante ao SQL, esta é uma operação “``group by``”. Podemos fazê-lo com o seguinte:

In [22]:
df_sum = df[df["Pollutant"] == "CO"].groupby("State").sum()


df_sum.head()

,State FIPS,Tier 1 Code,emissions90,emissions96,emissions97,emissions98,emissions99,emissions00,emissions01,emissions02,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
State,,,,,,,,,,,,,,,,,,,,,
AK,28,115,4502.12238,883.50805,2421.50089,414.61444,2113.152998,965.370474,318.280263,8689.554049,...,2429.632757,2418.607827,2300.045425,2357.437521,2398.158622,4890.110917,5216.369575,5218.919502,5211.711803,5204.504105
AL,15,123,3404.01163,2440.95216,2369.26803,2361.43903,3011.541333,2265.144310,2151.200553,2139.640782,...,1865.985316,1909.107889,1929.506064,1776.102028,1549.953552,1339.803048,1574.068371,1350.711872,1324.945132,1299.178392
AR,75,123,1706.69006,1356.08524,1326.53142,1345.25313,1293.732544,1253.756263,1232.331321,1182.506250,...,1343.550287,1283.565013,1156.753717,1188.363699,1164.566421,1250.079084,1168.110471,1055.635824,1043.724418,1031.813011
AZ,60,123,2563.04249,1876.55422,1752.07274,1794.73961,2008.201731,1942.665698,1721.562860,2310.468908,...,2414.635520,2407.114865,1237.286833,1217.751771,1094.186652,1259.988694,1000.976184,977.916197,964.504353,951.092509
CA,90,123,15255.07897,11019.29365,10062.82448,9702.05636,8208.233005,9618.345877,7787.477742,5709.540910,...,3444.999810,3215.550865,5604.151765,5426.292799,5227.325184,5730.651458,5313.281485,2159.945594,2119.893468,2079.841343

O resultado da função ``groupby()`` usará a coluna de agrupamento como índice de linha. Ele funciona colocando linhas que têm o mesmo valor para essa coluna de agrupamento em um grupo. Então, como um grupo, alguma função de agregação é aplicada para reduzir as muitas linhas em uma. No exemplo acima, estamos fazendo a soma em cada coluna. O Pandas vem com muitas outras funções agregadas, como calcular a ``média`` ou apenas contar o número de linhas. Já que estamos fazendo ``sum()``.

Isso nos permite fazer algumas tarefas interessantes. Digamos que, usando os dados do DataFrame acima, criamos uma tabela da emissão total de monóxido de carbono (``CO``) e dióxido de enxofre (``SO2``) em $2021$ em cada estado. O raciocínio de como fazer isso seria:

```
1. Agrupe por “Estado” e “Poluente” e, em seguida, resuma cada grupo. É assim que obtemos a emissão
total de cada poluente em cada estado.

2. Selecione apenas a coluna para 2021

3. Execute a tabela dinâmica para fazer estados as linhas e os poluentes as colunas com a emissão
total como os valores

4. Selecione apenas a coluna para CO e SO2.
```


No código, isso pode ser:

In [23]:
df_2021 = ( df.groupby(["State", "Pollutant"]).sum()    # get total emissions of each year
              [["emissions21"]]   # select only year 2021
              .reset_index()
              .pivot(index="State", columns="Pollutant", values="emissions21")
              .filter(["CO","SO2"])
          )


df_2021.head()

Pollutant           CO        SO2
State
AK         5204.504105  32.748621
AL         1299.178392  52.698696
AR         1031.813011  55.288823
AZ          951.092509  15.281760
CA         2079.841343  24.732406

No código acima, cada passo após a função ``groupby()`` é criar um novo DataFrame. Como estamos usando funções definidas em DataFrame, temos a **sintaxe de invocação encadeada** funcional acima.

A função ``sum()`` criará um DataFrame a partir do  GroupByobjeto que possui as colunas agrupadas “Estado” e “Poluente” como índice. Portanto, depois que dividimos o DataFrame em apenas uma coluna, costumávamos fazer ``reset_index()`` o índice como colunas (ou seja, haverá três colunas,  State,  Pollutante  emissions21). Como haverá mais poluentes do que precisamos, usamos ``filter()`` para selecionar apenas as colunas para CO e SO2 do DataFrame resultante. Isso é semelhante ao uso de indexação sofisticada para selecionar colunas.


\\
Na verdade, podemos fazer o mesmo de forma diferente:

* Selecione apenas as linhas para CO e calcule a emissão total; selecione apenas os dados de 2021

* Faça o mesmo para SO2

* Combine o DataFrame resultante nas duas etapas anteriores

\\
Nos pandas, existe uma função ``join()`` no DataFrame que nos ajuda a combinar as colunas com outro DataFrame combinando o índice. No código, as etapas acima são as seguintes:

In [24]:
df.head(2)

,State FIPS,State,Tier 1 Code,Tier 1 Description,Pollutant,emissions90,emissions96,emissions97,emissions98,emissions99,...,emissions12,emissions13,emissions14,emissions15,emissions16,emissions17,emissions18,emissions19,emissions20,emissions21
0,1,AL,1,FUEL COMB. ELEC. UTIL.,CO,6.86859,8.06884,8.04705,8.12158,11.51526,...,9.642311,9.326977,9.011643,9.125182,9.238721,9.323161,10.050146,8.243679,8.243679,8.243679
1,1,AL,1,FUEL COMB. ELEC. UTIL.,NH3,NaN,0.01516,0.01605,0.01597,0.01651,...,0.488463,0.487606,0.486749,0.457457,0.428165,0.398873,0.455760,0.417551,0.417551,0.417551

In [25]:

df_co = df[df["Pollutant"]=="CO"] .groupby("State").sum()[["emissions21"]].rename(columns = {"emissions21":"CO"})
df_co.head(5)

                CO
State
AK     5204.504105
AL     1299.178392
AR     1031.813011
AZ      951.092509
CA     2079.841343

In [26]:

df_so2 = df[df["Pollutant"]=="SO2"].groupby("State").sum()[["emissions21"]].rename(columns={"emissions21":"SO2"})
df_so2.head(5)

             SO2
State
AK     32.748621
AL     52.698696
AR     55.288823
AZ     15.281760
CA     24.732406

In [27]:
# Usando join

df_joined = df_co.join(df_so2)
df_joined.head()

                CO        SO2
State
AK     5204.504105  32.748621
AL     1299.178392  52.698696
AR     1031.813011  55.288823
AZ      951.092509  15.281760
CA     2079.841343  24.732406

A função ``join()`` é limitada à correspondência de índice. Se você estiver familiarizado com SQL, o equivalente JOIN da cláusula em pandas é a função ``merge()``. Se os dois DataFrames que criamos para CO e SO2 tiverem os estados como uma coluna separada, podemos fazer o mesmo da seguinte forma:

In [28]:

df_co = df[df["Pollutant"]=="CO"].groupby("State").sum()[["emissions21"]].rename(columns={"emissions21":"CO"}).reset_index()

df_co.head(3)

  State           CO
0    AK  5204.504105
1    AL  1299.178392
2    AR  1031.813011

In [29]:

df_so2 = df[df["Pollutant"]=="SO2"].groupby("State").sum()[["emissions21"]].rename(columns={"emissions21":"SO2"}).reset_index()

df_so2.head(3)

  State        SO2
0    AK  32.748621
1    AL  52.698696
2    AR  55.288823

In [30]:
# Usando merge:

df_merged = df_co.merge(df_so2, on="State", how="outer")

df_merged.head(5)

  State           CO        SO2
0    AK  5204.504105  32.748621
1    AL  1299.178392  52.698696
2    AR  1031.813011  55.288823
3    AZ   951.092509  15.281760
4    CA  2079.841343  24.732406

A função ``merge()`` em pandas pode fazer todos os tipos de junções SQL. Podemos combinar colunas diferentes de um DataFrame diferente e podemos fazer junção à esquerda, junção à direita, junção interna e junção externa. Isso será muito útil ao organizar os dados para o seu projeto.


A função ``groupby()`` em um DataFrame é poderosa, pois nos permite manipular o DataFrame de forma flexível e abre as portas para muitas transformações sofisticadas. Pode haver um caso em que nenhuma função interna possa ajudar depois ``groupby()``, mas sempre podemos fornecer a nossa. Por exemplo, é assim que podemos criar uma função para operar em um sub-DataFrame (em todas as colunas, exceto a coluna group-by) e aplicá-la para encontrar os anos de emissões mínimas e máximas:

In [ ]:
def minmaxyear(subdf):
  sum_series = subdf.sum()
  year_indices = [x for x in sum_series if x.startswith('emissions')]
  minyear = sum_series[year_indices].astype(float).idxmin()
  maxyear = sum_series[year_indices].astype(float).idxmax()
  return pd.Series({"min year": minyear[-2:], "max year": maxyear[-2:]})
 

df_years = df[df["Pollutant"]=="CO"].groupby("State").apply(minmaxyear)

df_years.head()

A seguir está o código completo para demonstrar todas as operações que introduzimos acima:

In [32]:

import pandas as pd
 
# Pollutants data from Environmental Protection Agency
URL = "https://www.epa.gov/sites/default/files/2021-03/state_tier1_caps.xlsx"
 
# Read the Excel file and print
df = pd.read_excel(URL, sheet_name="State_Trends", header=1)
print("US air pollutant emission data:")
print(df)
 
# Show info
print("\nInformation about the DataFrame:")
df.info()
 
# print dtyes
coltypes = df.dtypes
print("\nColumn data types of the DataFrame:")
print(coltypes)
 
# Get last 3 columns
cols = ["State", "Pollutant", "emissions19", "emissions20", "emissions21"]
last3years = df[cols]
print("\nDataFrame of last 3 years data:")
print(last3years)
 
# Get a series
data2021 = df["emissions21"]
print("\nSeries of 2021 data:")
print(data2021)
 
# Print unique pollutants
print("\nUnique pollutants:")
print(df["Pollutant"].unique())
 
# print mean emission
print("\nMean on the 2021 series:")
print(df["emissions21"].mean())
 
# Describe
print("\nBasic statistics about each column in the DataFrame:")
print(df.describe().T)
 
# Get CO only
df_CO = df[df["Pollutant"] == "CO"]
print("\nDataFrame of only CO pollutant:")
print(df_CO)
 
# Get CO and Highway only
df_CO_HW = df[(df["Pollutant"] == "CO") & (df["Tier 1 Description"] == "HIGHWAY VEHICLES")]
print("\nDataFrame of only CO pollutant from Highway vehicles:")
print(df_CO_HW)
 
# Get DF of all CO
df_all_co = df[df["Pollutant"]=="CO"][["State", "Tier 1 Description", "emissions21"]]
print("\nDataFrame of only CO pollutant, keep only essential columns:")
print(df_all_co)
 
# Pivot
df_pivot = df_all_co.pivot_table(index="State", columns="Tier 1 Description", values="emissions21")
print("\nPivot table of state vs CO emission source:")
print(df_pivot)
 
# melt
df_melt = df_pivot.melt(value_name="emissions 2021", var_name="Tier 1 Description", ignore_index=False)
print("\nMelting the pivot table:")
print(df_melt)
 
# all three are the same
df_filled = df_pivot.fillna(0)
df_filled = df_pivot.where(df_pivot.notna(), 0)
df_filled = df_pivot.mask(df_pivot.isna(), 0)
print("\nFilled missing value as zero:")
print(df_filled)
 
# aggregation
df_sum = df[df["Pollutant"]=="CO"].groupby("State").sum()
print("\nTotal CO emission by state:")
print(df_sum)
 
# group by
df_2021 = ( df.groupby(["State", "Pollutant"])
              .sum()              # get total emissions of each year
              [["emissions21"]]   # select only year 2021
              .reset_index()
              .pivot(index="State", columns="Pollutant", values="emissions21")
              .filter(["CO","SO2"])
          )
print("\nComparing CO and SO2 emission:")
print(df_2021)
 
# join
df_co = df[df["Pollutant"]=="CO"].groupby("State").sum()[["emissions21"]].rename(columns={"emissions21":"CO"})
df_so2 = df[df["Pollutant"]=="SO2"].groupby("State").sum()[["emissions21"]].rename(columns={"emissions21":"SO2"})
df_joined = df_co.join(df_so2)
print("\nComparing CO and SO2 emission:")
print(df_joined)
 
# merge
df_co = df[df["Pollutant"]=="CO"].groupby("State").sum()[["emissions21"]].rename(columns={"emissions21":"CO"}).reset_index()
df_so2 = df[df["Pollutant"]=="SO2"].groupby("State").sum()[["emissions21"]].rename(columns={"emissions21":"SO2"}).reset_index()
df_merged = df_co.merge(df_so2, on="State", how="outer")
print("\nComparing CO and SO2 emission:")
print(df_merged)
 
def minmaxyear(subdf):
    sum_series = subdf.sum()
    year_indices = [x for x in sum_series if x.startswith("emissions")]
    minyear = sum_series[year_indices].astype(float).idxmin()
    maxyear = sum_series[year_indices].astype(float).idxmax()
    return pd.Series({"min year": minyear[-2:], "max year": maxyear[-2:]})
 
df_years = df[df["Pollutant"]=="CO"].groupby("State").apply(minmaxyear)
print("\nYears of minimum and maximum emissions:")
print(df_years)

US air pollutant emission data:
      State FIPS State  Tier 1 Code      Tier 1 Description Pollutant  \
0              1    AL            1  FUEL COMB. ELEC. UTIL.        CO
1              1    AL            1  FUEL COMB. ELEC. UTIL.       NH3
2              1    AL            1  FUEL COMB. ELEC. UTIL.       NOX
3              1    AL            1  FUEL COMB. ELEC. UTIL.  PM10-PRI
4              1    AL            1  FUEL COMB. ELEC. UTIL.  PM25-PRI
...          ...   ...          ...                     ...       ...
5314          56    WY           16        PRESCRIBED FIRES       NOX
5315          56    WY           16        PRESCRIBED FIRES  PM10-PRI
5316          56    WY           16        PRESCRIBED FIRES  PM25-PRI
5317          56    WY           16        PRESCRIBED FIRES       SO2
5318          56    WY           16        PRESCRIBED FIRES       VOC

      emissions90  emissions96  emissions97  emissions98  emissions99  ...  \
0         6.86859      8.06884      8.04705      8.12158    11.515260  ...
1             NaN      0.01516      0.01605      0.01597     0.016510  ...
2       187.79386    219.00900    209.98918    198.66722   186.387100  ...
3         8.85994      9.28102      8.83472      8.37946    29.217020  ...
4         3.60246      4.36618      4.23529      4.00666    25.092193  ...
...           ...          ...          ...          ...          ...  ...
5314          NaN          NaN          NaN          NaN          NaN  ...
5315          NaN          NaN          NaN          NaN          NaN  ...
5316          NaN          NaN          NaN          NaN          NaN  ...
5317          NaN          NaN          NaN          NaN          NaN  ...
5318          NaN          NaN          NaN          NaN          NaN  ...

      emissions12  emissions13  emissions14  emissions15  emissions16  \
0        9.642311     9.326977     9.011643     9.125182     9.238721
1        0.488463     0.487606     0.486749     0.457457     0.428165
2       57.768312    53.849475    49.930638    40.769235    31.607833
3        6.469981     5.616641     4.763300     3.950869     3.138437
4        4.407621     3.949151     3.490680     2.964636     2.438592
...           ...          ...          ...          ...          ...
5314     2.700751     1.685790     0.670829     0.723065     0.775301
5315    25.776110    16.050751     6.325392     6.152275     5.979158
5316    21.844143    13.602321     5.360500     5.213792     5.067083
5317     1.698021     1.058455     0.418889     0.426659     0.434428
5318    61.320442    38.175952    15.031462    14.476352    13.921243

      emissions17  emissions18  emissions19  emissions20  emissions21
0        9.323161    10.050146     8.243679     8.243679     8.243679
1        0.398873     0.455760     0.417551     0.417551     0.417551
2       22.422130    26.233104    19.592480    13.752790    11.162100
3        2.303326     2.601011     2.868642     2.868642     2.868642
4        1.898368     1.941267     2.659792     2.659792     2.659792
...           ...          ...          ...          ...          ...
5314     0.827537     0.893848     0.374873     0.374873     0.374873
5315     5.806041     7.118097     2.857886     2.857886     2.857886
5316     4.920375     6.032286     2.421937     2.421937     2.421937
5317     0.442197     0.509242     0.208817     0.208817     0.208817
5318    13.366133    16.632343     6.645249     6.645249     6.645249

[5319 rows x 32 columns]

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5319 entries, 0 to 5318
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State FIPS          5319 non-null   int64
 1   State               5319 non-null   object
 2   Tier 1 Code         5319 non-null   int64
 3   Tier 1 Description  5319 non-null   object
 4   Pollutant           5319 non-null   object
 5   emissions90         3926 non-null   float64
 6   emissions96         4163 non-null   float64
 7   emissions97         4163 non-null   float64
 8   emissions98         4164 non-null   float64
 9   emissions99         4281 non-null   float64
 10  emissions00         4280 non-null   float64
 11  emissions01         4277 non-null   float64
 12  emissions02         4720 non-null   float64
 13  emissions03         4939 non-null   float64
 14  emissions04         4939 non-null   float64
 15  emissions05         4561 non-null   float64
 16  emissions06         4951 non-null   float64
 17  emissions07         4951 non-null   float64
 18  emissions08         4942 non-null   float64
 19  emissions09         5281 non-null   float64
 20  emissions10         5281 non-null   float64
 21  emissions11         5318 non-null   float64
 22  emissions12         5318 non-null   float64
 23  emissions13         5318 non-null   float64
 24  emissions14         5077 non-null   float64
 25  emissions15         5299 non-null   float64
 26  emissions16         5299 non-null   float64
 27  emissions17         5107 non-null   float64
 28  emissions18         5052 non-null   float64
 29  emissions19         5052 non-null   float64
 30  emissions20         5052 non-null   float64
 31  emissions21         5052 non-null   float64
dtypes: float64(27), int64(2), object(3)
memory usage: 1.3+ MB

Column data types of the DataFrame:
State FIPS              int64
State                  object
Tier 1 Code             int64
Tier 1 Description     object
Pollutant              object
emissions90           float64
emissions96           float64
emissions97           float64
emissions98           float64
emissions99           float64
emissions00           float64
emissions01           float64
emissions02           float64
emissions03           float64
emissions04           float64
emissions05           float64
emissions06           float64
emissions07           float64
emissions08           float64
emissions09           float64
emissions10           float64
emissions11           float64
emissions12           float64
emissions13           float64
emissions14           float64
emissions15           float64
emissions16           float64
emissions17           float64
emissions18           float64
emissions19           float64
emissions20           float64
emissions21           float64
dtype: object

DataFrame of last 3 years data:
     State Pollutant  emissions19  emissions20  emissions21
0       AL        CO     8.243679     8.243679     8.243679
1       AL       NH3     0.417551     0.417551     0.417551
2       AL       NOX    19.592480    13.752790    11.162100
3       AL  PM10-PRI     2.868642     2.868642     2.868642
4       AL  PM25-PRI     2.659792     2.659792     2.659792
...    ...       ...          ...          ...          ...
5314    WY       NOX     0.374873     0.374873     0.374873
5315    WY  PM10-PRI     2.857886     2.857886     2.857886
5316    WY  PM25-PRI     2.421937     2.421937     2.421937
5317    WY       SO2     0.208817     0.208817     0.208817
5318    WY       VOC     6.645249     6.645249     6.645249

[5319 rows x 5 columns]

Series of 2021 data:
0        8.243679
1        0.417551
2       11.162100
3        2.868642
4        2.659792
          ...
5314     0.374873
5315     2.857886
5316     2.421937
5317     0.208817
5318     6.645249
Name: emissions21, Length: 5319, dtype: float64

Unique pollutants:
['CO' 'NH3' 'NOX' 'PM10-PRI' 'PM25-PRI' 'SO2' 'VOC']

Mean on the 2021 series:
19.26453203565005

Basic statistics about each column in the DataFrame:
              count       mean         std      min        25%        50%  \
State FIPS   5319.0  29.039481   15.667352  1.00000  16.000000  29.000000
Tier 1 Code  5319.0   8.213198    4.610970  1.00000   4.000000   8.000000
emissions90  3926.0  67.885173  373.308888  0.00000   0.474330   4.042665
emissions96  4163.0  54.576353  264.951584  0.00001   0.338420   3.351860
emissions97  4163.0  51.635867  249.057529  0.00001   0.335830   3.339820
emissions98  4164.0  50.801607  240.583301  0.00001   0.344537   3.333940
emissions99  4281.0  48.574331  224.351639  0.00000   0.298280   3.198574
emissions00  4280.0  48.331283  228.045136  0.00000   0.301689   3.191610
emissions01  4277.0  45.379913  208.045773  0.00000   0.306105   3.194570
emissions02  4720.0  40.620586  211.845254  0.00000   0.132365   1.898117
emissions03  4939.0  38.580118  202.907372  0.00000   0.092004   1.646157
emissions04  4939.0  38.266614  199.499755  0.00000   0.092897   1.686734
emissions05  4561.0  37.538785  156.186952  0.00000   0.213054   2.298465
emissions06  4951.0  31.796042  137.208089  0.00000   0.092216   1.557814
emissions07  4951.0  29.166167  127.385372  0.00000   0.084963   1.409892
emissions08  4942.0  31.514819  155.322728  0.00000   0.158240   1.539944
emissions09  5281.0  27.722597  140.524415  0.00000   0.095350   1.339171
emissions10  5281.0  27.461119  140.367131  0.00000   0.094861   1.316531
emissions11  5318.0  26.935748  113.778154  0.00000   0.094116   1.266789
emissions12  5318.0  26.073642  108.279353  0.00000   0.110958   1.347089
emissions13  5318.0  25.211536  103.732749  0.00000   0.111590   1.338692
emissions14  5077.0  24.859033  106.038091  0.00000   0.159116   1.478374
emissions15  5299.0  22.909261  101.590544  0.00000   0.109240   1.223824
emissions16  5299.0  21.357112   96.439660  0.00000   0.102573   1.165098
emissions17  5107.0  24.009949  128.612427  0.00000   0.133070   1.242553
emissions18  5052.0  23.068262  114.948923  0.00000   0.150435   1.373293
emissions19  5052.0  19.846244   98.392126  0.00000   0.125881   1.180123
emissions20  5052.0  19.507828   97.515187  0.00000   0.125066   1.165284
emissions21  5052.0  19.264532   96.702411  0.00000   0.125066   1.151917

                   75%           max
State FIPS   42.000000     56.000000
Tier 1 Code  12.000000     16.000000
emissions90  20.610050  11893.764890
emissions96  16.804540   6890.969060
emissions97  16.679675   6547.791030
emissions98  16.579365   6187.792400
emissions99  16.993275   5701.037970
emissions00  16.240101   5828.319510
emissions01  16.091365   4600.093520
emissions02  12.613465   8402.863427
emissions03  11.613535   8402.863427
emissions04  11.840717   8402.863427
emissions05  13.247740   2903.494222
emissions06  10.265550   2828.242223
emissions07   9.308824   2791.535544
emissions08  10.005629   6461.172958
emissions09   9.098742   6461.172958
emissions10   8.952050   6461.172958
emissions11   9.151551   2333.537512
emissions12   9.311485   2200.097251
emissions13   9.318675   2200.097251
emissions14   9.690808   3239.366102
emissions15   8.506026   3239.366102
emissions16   8.199918   3239.366102
emissions17   8.512386   4514.752701
emissions18   9.013688   4562.151689
emissions19   7.906181   4562.151689
emissions20   7.737705   4562.151689
emissions21   7.754584   4562.151689

DataFrame of only CO pollutant:
      State FIPS State  Tier 1 Code             Tier 1 Description Pollutant  \
0              1    AL            1         FUEL COMB. ELEC. UTIL.        CO
7              1    AL            2          FUEL COMB. INDUSTRIAL        CO
14             1    AL            3               FUEL COMB. OTHER        CO
21             1    AL            4  CHEMICAL & ALLIED PRODUCT MFG        CO
28             1    AL            5              METALS PROCESSING        CO
...          ...   ...          ...                            ...       ...
5284          56    WY           11               HIGHWAY VEHICLES        CO
5291          56    WY           12                    OFF-HIGHWAY        CO
5298          56    WY           14                  MISCELLANEOUS        CO
5305          56    WY           15                      WILDFIRES        CO
5312          56    WY           16               PRESCRIBED FIRES        CO

      emissions90  emissions96  emissions97  emissions98  emissions99  ...  \
0         6.86859      8.06884      8.04705      8.12158    11.515260  ...
7        25.73799     49.77487     48.15407     48.41578    43.880430  ...
14       89.93378     34.23424     34.29082     34.15163    65.515923  ...
21       54.70092     44.23310     45.59779     46.96713     7.853820  ...
28        6.61641     36.12170     37.64911     36.86870    31.767940  ...
...           ...          ...          ...          ...          ...  ...
5284    356.49009    291.14133    276.70200    262.86346   239.623160  ...
5291     51.96062     56.87244     55.65240     55.65445    56.030470  ...
5298     12.98658   1148.38277    130.10335    109.45384    71.518690  ...
5305          NaN          NaN          NaN          NaN          NaN  ...
5312          NaN          NaN          NaN          NaN          NaN  ...

      emissions12  emissions13  emissions14  emissions15  emissions16  \
0        9.642311     9.326977     9.011643     9.125182     9.238721
7       66.747109    61.629518    56.511926    43.656232    30.800538
14      14.997904    17.892071    20.786239    23.581487    26.376736
21       3.133778     3.144600     3.155423     3.214001     3.272579
28      11.173101    11.354717    11.536333    11.766012    11.995691
...           ...          ...          ...          ...          ...
5284   108.727229   105.535501   102.343774    94.520899    74.799914
5291    42.627693    40.234624    37.841555    35.612352    31.243694
5298     4.619207     2.674452     0.729698     0.703250     0.676802
5305   514.760001   514.760001    17.784989    17.784989    17.784989
5312   260.925351   162.437696    63.950042    61.495748    59.041454

      emissions17  emissions18  emissions19  emissions20  emissions21
0        9.323161    10.050146     8.243679     8.243679     8.243679
7       17.973944    19.148024    17.291741    17.291741    17.291741
14      29.171984    29.207209    29.201838    29.201838    29.201838
21       3.331158     2.774257     2.626484     2.626484     2.626484
28      12.225369    12.534726    12.167189    12.167189    12.167189
...           ...          ...          ...          ...          ...
5284    75.986563    70.776546    69.268149    64.493724    59.719298
5291    30.885597    31.092228    30.594383    30.603392    30.612400
5298     0.650355     3.269705     3.828401     3.828401     3.828401
5305    64.239698   302.235376    89.399972    89.399972    89.399972
5312    56.587161    70.578540    28.177445    28.177445    28.177445

[760 rows x 32 columns]

DataFrame of only CO pollutant from Highway vehicles:
      State FIPS State  Tier 1 Code Tier 1 Description Pollutant  emissions90  \
70             1    AL           11   HIGHWAY VEHICLES        CO   2340.75406
171            2    AK           11   HIGHWAY VEHICLES        CO    262.38870
276            4    AZ           11   HIGHWAY VEHICLES        CO   1616.75178
381            5    AR           11   HIGHWAY VEHICLES        CO   1160.47226
486            6    CA           11   HIGHWAY VEHICLES        CO  11893.76489
591            8    CO           11   HIGHWAY VEHICLES        CO   1785.06526
696            9    CT           11   HIGHWAY VEHICLES        CO   1244.74650
800           10    DE           11   HIGHWAY VEHICLES        CO    330.16417
892           11    DC           11   HIGHWAY VEHICLES        CO    141.59974
993           12    FL           11   HIGHWAY VEHICLES        CO   5354.38817
1098          13    GA           11   HIGHWAY VEHICLES        CO   3431.84085
1203          15    HI           11   HIGHWAY VEHICLES        CO    425.80332
1303          16    ID           11   HIGHWAY VEHICLES        CO    569.54601
1408          17    IL           11   HIGHWAY VEHICLES        CO   4363.43728
1513          18    IN           11   HIGHWAY VEHICLES        CO   2635.04348
1618          19    IA           11   HIGHWAY VEHICLES        CO   1367.69745
1723          20    KS           11   HIGHWAY VEHICLES        CO   1288.87435
1828          21    KY           11   HIGHWAY VEHICLES        CO   1759.07154
1933          22    LA           11   HIGHWAY VEHICLES        CO   1483.15211
2037          23    ME           11   HIGHWAY VEHICLES        CO    691.96823
2142          24    MD           11   HIGHWAY VEHICLES        CO   2107.17132
2247          25    MA           11   HIGHWAY VEHICLES        CO   2206.34293
2352          26    MI           11   HIGHWAY VEHICLES        CO   4611.33989
2457          27    MN           11   HIGHWAY VEHICLES        CO   2384.24373
2562          28    MS           11   HIGHWAY VEHICLES        CO   1352.64965
2667          29    MO           11   HIGHWAY VEHICLES        CO   2532.46555
2772          30    MT           11   HIGHWAY VEHICLES        CO    495.69852
2877          31    NE           11   HIGHWAY VEHICLES        CO    814.35388
2982          32    NV           11   HIGHWAY VEHICLES        CO    589.06005
3087          33    NH           11   HIGHWAY VEHICLES        CO    569.19585
3192          34    NJ           11   HIGHWAY VEHICLES        CO   2622.59472
3297          35    NM           11   HIGHWAY VEHICLES        CO   1107.09726
3402          36    NY           11   HIGHWAY VEHICLES        CO   5469.57893
3507          37    NC           11   HIGHWAY VEHICLES        CO   3192.56497
3605          38    ND           11   HIGHWAY VEHICLES        CO    374.54837
3710          39    OH           11   HIGHWAY VEHICLES        CO   4671.94888
3815          40    OK           11   HIGHWAY VEHICLES        CO   1782.07884
3920          41    OR           11   HIGHWAY VEHICLES        CO   1406.34552
4025          42    PA           11   HIGHWAY VEHICLES        CO   4379.79066
4130          44    RI           11   HIGHWAY VEHICLES        CO    353.40443
4235          45    SC           11   HIGHWAY VEHICLES        CO   1910.13433
4340          46    SD           11   HIGHWAY VEHICLES        CO    422.78434
4445          47    TN           11   HIGHWAY VEHICLES        CO   2568.09190
4550          48    TX           11   HIGHWAY VEHICLES        CO   7966.03968
4655          49    UT           11   HIGHWAY VEHICLES        CO   1012.73420
4759          50    VT           11   HIGHWAY VEHICLES        CO    352.11235
4864          51    VA           11   HIGHWAY VEHICLES        CO   3150.89897
4969          53    WA           11   HIGHWAY VEHICLES        CO   2418.35817
5074          54    WV           11   HIGHWAY VEHICLES        CO    833.95126
5179          55    WI           11   HIGHWAY VEHICLES        CO   2094.58886
5284          56    WY           11   HIGHWAY VEHICLES        CO    356.49009

      emissions96  emissions97  emissions98  emissions99  ...  emissions12  \
70     1674.01395   1602.25032   1534.27815   1412.34247  ...   706.703031
171     173.25628    173.86574    175.12039    169.92004  ...    85.189732
276    1084.92615   1065.99933   1049.76456   1017.64515  ...   560.612368
381     913.63369    883.78506    856.08295    798.25244  ...   331.480558
486    6890.96906   6547.79103   6187.79240   5701.03797  ...  1381.401028
591    1356.19722   1311.52565   1269.50309   1186.03591  ...   553.874068
696     809.34899    789.87112    772.66053    727.63672  ...   212.965951
800     215.35512    209.74464    204.66526    192.48549  ...    67.952754
892      93.03482     90.69399     88.57302     83.42699  ...    28.415199
993    3823.98838   3710.72177   3605.81590   3379.56368  ...  1757.496154
1098   2830.11328   2755.46518   2687.67717   2526.59228  ...   993.235375
1203    258.16487    241.24734    224.71093    200.49961  ...   105.529327
1303    446.67839    432.34739    419.08039    391.02866  ...   213.355161
1408   3011.91606   2930.02781   2855.96922   2680.82740  ...   760.796189
1513   2281.76252   2181.49624   2085.98024   1917.22066  ...   788.972683
1618   1037.34539    986.30937    937.33908    855.17077  ...   359.355435
1723    922.86940    880.13182    839.27096    768.86219  ...   353.845851

AttributeError: ignored

# Manipulando dados de série temporal em Pandas

Você encontrará outro recurso poderoso dos pandas se estiver lidando com dados de séries temporais. Para começar, vamos considerar alguns [dados diários de poluição](https://www.epa.gov/outdoor-air-quality-data/download-daily-data). Podemos selecionar e baixar alguns do site da EPA:

![image.png]()

Para fins de ilustração, baixamos os dados PM2.5 do Texas em $2021$. Podemos importar o arquivo CSV, **baixadoad_viz_plotval_data.csv**, da seguinte forma:

In [ ]:
df = pd.read_csv("ad_viz_plotval_data.csv", parse_dates=[0])